<form>
  <div class="form-group">
    <label>Formula</label>
    <input type="text" name="formula" value="{{formula}}" disabled/>
  </div>
  <div class="form-group">
    <label>Situational Bonus?</label>
    <input type="text" name="bonus" value="" placeholder="e.g. +1d4"/>
  </div>
  <div class="form-group">
    <label>Background</label>
    {{log backgrounds}}
    <select name="background" data-dtype="String">
        {{!-- {{#select background}} --}}
        <option value="">—</option>
          {{#each backgrounds as |background_obj key|}}
            {{#if background_obj.isActive.value}}
              <option value="{{background_obj.bonus.value}}">{{numberFormat background_obj.bonus.value decimals=0 sign=true}} {{background_obj.name.value}}</option>
            {{/if}}
          {{/each}}
        {{!-- {{/select}} --}}
    </select>
  </div>
  <div class="form-group">
    <label>Roll Mode</label>
    <select name="rollMode">
    {{#each rollModes as |label mode|}}
      <option value="{{mode}}">{{localize label}}</option>
    {{/each}}
    </select>
  </div>
</form>