<form id="short-rest-hd">
    <p>Take a short rest? On a short rest you may spend remaining Hit Dice and recover primary or secondary resources.</p>
    <div class="form-group">
        <label>Hit Die</label>
        <select name="hd">
            <option value="d6">d6</option>
            <option value="d8">d8</option>
            <option value="d10">d10</option>
            <option value="d12">d12</option>
        </select>
        <button id="roll-hd"><i class="fas fa-dice-d20"></i> Roll Hit Dice</button>
    </div>
</form>
